
.todolist-wrapper{
  margin:0 auto;
  width:70%;
}
.todolist-box-finish{
  padding:5px;
  margin-top:10px;
  border: 1px solid #ccc;
  border-radius:5px;
  background:rgb(129, 129, 129);
}

.todolist-box-unfinished{
  padding:5px;
  margin-top:10px;
  border: 1px solid #ccc;
  border-radius:5px;
  background-color:#e01f5fe3;
}
.todolist-text{
  font-size:14px;
  color:rgb(255, 255, 255);
}
.todolist-text-finish{
  text-decoration:line-through;
}